.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  flex-direction: column;
}
.card {
  box-shadow: 2px 2px 2px 2px white;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  font-weight: bold !important;
}
.errorMsg {
  color: red;
}
h1 {
  color: white;
}
.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: whitesmoke;
}
.image {
  border-radius: 50%;
}
